<div class='btn-wrap'>
	{{#if outlined}}
		<button class='btn btn-primary__outlined' id={{id}}>{{title}}</button>
	{{else if filled}}
		<button class='btn btn-primary__filled' id={{id}}>{{title}}</button>
	{{else if link}}
		<button class='btn btn-primary__link' id={{id}}>{{title}}</button>
	{{/if}}
</div>
