<div class='btn-wrap'>
	{{#if outlined}}
		<button class='btn btn-primary__outlined'>{{title}}</button>
	{{else if filled}}
		<button class='btn btn-primary__filled'>{{title}}</button>
	{{else if link}}
		<button class='btn btn-primary__link'>{{title}}</button>
	{{/if}}
</div>