<div class='textField'>
	{{#if title}}
		<label class='label'>{{title}}</label>
		<input type={{type}} class={{class}} name={{name}} />
	{{else}}
		<input type={{type}} class={{class}} name={{name}} />
	{{/if}}

</div>